<div class="container" fxLayout.xs="column" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px">


    <app-card-consult *ngFor="let inquire of inquires" [imgUrl]="inquire.imgUrl" [textCard]="inquire.textCard"
        [inquireType]="inquire.inquireType" fxFlex="30" fxFlex.sm="40" (onIunputInquire)="openDialogAuth($event)">
    </app-card-consult>


</div>

<div [ngSwitch]="inquireType">
    <div *ngSwitchCase="'payments'">
        <app-dialog-auth-inquire-payments [display]="display" (onDialogState)="resetDialogState($event)"></app-dialog-auth-inquire-payments>
    </div>
    <div *ngSwitchCase="'wallet'">
        <app-dialog-auth-inquire-wallet [display]="display" (onDialogState)="resetDialogState($event)"></app-dialog-auth-inquire-wallet>
    </div>
    <div *ngSwitchCase="'commissions'">
        <app-dialog-auth-inquire-commissions [display]="display" (onDialogState)="resetDialogState($event)"></app-dialog-auth-inquire-commissions>
    </div>
    <div *ngSwitchDefault></div>
</div>