<div class="container" *ngIf="validData">

    <div class="row">
        <div class="col-4">
            <p-radioButton (onClick)="switchConsistent()" name="groupname" value="c" [(ngModel)]="selectedValue" label="Consistentes"></p-radioButton>
            
        </div>
        <div class="col-4">
            <p-radioButton (onClick)="switchInconsistent()" name="groupname" value="i" [(ngModel)]="selectedValue" label="Inconsistentes"></p-radioButton>

        </div>
    </div>


    <hr>

    <app-date-filter (onDateRangeSelected)="handleDateRange($event)" (onQuitFilter)="handleQuitFilter()"></app-date-filter>

    <p-table [value]="payments" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Fecha de pago</th>
                <th>Tipo de pago</th>
                <th>Valor</th>
                <th>Estado del pago</th>
                <th>Entidad</th>
                <th>Id de la factura</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment>
            <tr>
                <td><b>#{{payment.id}}</b></td>
                <td>{{payment.paymentDate | date}}</td>
                <td>{{payment.paymentType}}</td>
                <td>${{payment.paymentValue | number}}</td>
                <td>{{payment.statePaymentDTO.state}}</td>
                <td>{{payment.branchOfficeDTO.name}}</td>
                <td><i>{{payment.invoiceDTO ? ("#" + payment.invoiceDTO.id) : "No registra"}}</i></td>

            </tr>
        </ng-template>
    </p-table>

    <p-paginator #paginator [rows]="10" [totalRecords]="totalPayments" (onPageChange)="paginatorChange($event)" *ngIf="!filterActive"></p-paginator>
    <span><i>Numero de registros: {{totalPayments}}</i></span>
</div>

<div class="card text-bg-danger mb-3 card-error" *ngIf="!validData">
    <div class="card-body">
        <h5 class="card-title">Hubo un error en la consulta!</h5>
        <p class="card-text">{{errorMessage}}</p>
    </div>
</div>