<div class="line-design-up">


    <div class="row">
        <div class="col-9 text-home">
            <span>
                <b>
                    Te ofrecemos una herramienta fácil para manejar tus registros pago por <div class="green">servicios.</div>
                </b>
            </span>
        </div>
        <div class="col-3">

            <div class="img-home-up">
                <img src="../../../../assets/img-home-up.png" alt="">
            </div>

        </div>
        
    </div>



</div>



<div class="line-design-down">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">

            <div class="img-home-down">
                <img src="../../../../assets/img-home-down.png" alt="">
            </div>
        
        </div>
        <div class="col-9 text-home">
            <span>
                <b>
                    Manejo y procesamiento de datos <div class="green">eficiente.</div>
                </b>
            </span>
        </div>
    </div>


</div>