.out-btn {
    margin: 10px;
}

.container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.p-btn {
    border-radius: 20px;
    background-color: #2B8B4B;
    color: #F8DB66;
    border: 1px solid #F8DB66;
    margin: 10px;
    float: right;
}

.p-btn:hover {
    
    background-color: #F8DB66;
    color: #2B8B4B;
    border: 1px solid #2B8B4B;
}


